{% render 'partials/head.liquid' %}

 <main>

    <div class="terug-knop">
        <a href="/nieuws"><img src="/assets/pijltje-terug.svg" width="20" alt="pijltje terug">Terug</a>
    </div>

    <h1>Veld nieuws</h1>

    <article class="artikel">

        <img src="https://fdnd-agency.directus.app/assets/{{ artikel.image }}" alt="{{ artikel.title }}" width="342" height="300"> 

        {% comment %} hebben de datum nog niet in de database, dus voor nu even statisch {% endcomment %}
        <p>Geplaatst op: {{ artikel.date }}</p> 
        {% comment %} <p>Geplaatst: 20-11-2025</p>  {% endcomment %}

        <h1>{{ artikel.title }}</h1>

        {% comment %} hebben de beschrijving nog niet in de database, dus voor nu even statisch {% endcomment %}
       <p>{{ artikel.body }}</p>  
        {% comment %} <p>De bloei van duizendblad is bijna voorbij, maar de plant is nog goed te zien. De bloemen zijn aan het opdrogen en blijven nog even zichtbaar. Dit is een laatste moment om te zien hoe duizendblad eruitziet na de bloei, voordat de bloemen niet meer zichtbaar zijn. Wat wel mooi zichtbaar blijft zijn de mooie bladeren.</p> {% endcomment %}

    </article>

 </main>

{% render 'partials/navbar.liquid' %}

{% render 'partials/foot.liquid' %}